In [36]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv('../Data/parsed_json.csv')

In [11]:
df

,ENST_ID,Position,Key,Values,gene_id,transcript_id,transcript_position,label
0,ENST00000000233,244,AAGACCA,"[[0.00299, 2.06, 125.0, 0.0177, 10.4, 122.0, 0...",ENSG00000004059,ENST00000000233,244,0
1,ENST00000000233,261,CAAACTG,"[[0.0126, 1.95, 111.0, 0.0125, 1.27, 108.0, 0....",ENSG00000004059,ENST00000000233,261,0
2,ENST00000000233,316,GAAACAG,"[[0.00432, 2.02, 104.0, 0.00299, 3.56, 99.3, 0...",ENSG00000004059,ENST00000000233,316,0
3,ENST00000000233,332,AGAACAT,"[[0.0134, 4.71, 132.0, 0.00447, 4.24, 98.8, 0....",ENSG00000004059,ENST00000000233,332,0
4,ENST00000000233,368,AGGACAA,"[[0.015, 6.97, 118.0, 0.0106, 3.04, 123.0, 0.0...",ENSG00000004059,ENST00000000233,368,0
...,...,...,...,...,...,...,...,...
121833,ENST00000641834,1348,GGGACAT,"[[0.0112, 2.96, 116.0, 0.0093, 3.24, 115.0, 0....",ENSG00000167747,ENST00000641834,1348,1
121834,ENST00000641834,1429,CTGACAC,"[[0.00697, 4.25, 112.0, 0.00481, 8.67, 119.0, ...",ENSG00000167747,ENST00000641834,1429,0
121835,ENST00000641834,1531,TGGACAC,"[[0.00996, 3.12, 112.0, 0.00432, 4.5, 115.0, 0...",ENSG00000167747,ENST00000641834,1531,1
121836,ENST00000641834,1537,CTGACCA,"[[0.00396, 3.14, 108.0, 0.00747, 5.79, 125.0, ...",ENSG00000167747,ENST00000641834,1537,0
121837,ENST00000641834,1693,TTGACAT,"[[0.0215, 5.59, 104.0, 0.00996, 5.8, 118.0, 0....",ENSG00000167747,ENST00000641834,1693,0

In [12]:
df.columns.tolist()

['ENST_ID',
 'Position',
 'Key',
 'Values',
 'gene_id',
 'transcript_id',
 'transcript_position',
 'label']

In [13]:
df[df['transcript_id'] != df['ENST_ID']]

Empty DataFrame
Columns: [ENST_ID, Position, Key, Values, gene_id, transcript_id, transcript_position, label]
Index: []

In [15]:
new_df = df.drop(columns=['ENST_ID', 'Position'])
new_df = new_df[['gene_id', 'transcript_id', 'transcript_position', 'Key', 'Values', 'label']]

In [16]:
new_df

,gene_id,transcript_id,transcript_position,Key,Values,label
0,ENSG00000004059,ENST00000000233,244,AAGACCA,"[[0.00299, 2.06, 125.0, 0.0177, 10.4, 122.0, 0...",0
1,ENSG00000004059,ENST00000000233,261,CAAACTG,"[[0.0126, 1.95, 111.0, 0.0125, 1.27, 108.0, 0....",0
2,ENSG00000004059,ENST00000000233,316,GAAACAG,"[[0.00432, 2.02, 104.0, 0.00299, 3.56, 99.3, 0...",0
3,ENSG00000004059,ENST00000000233,332,AGAACAT,"[[0.0134, 4.71, 132.0, 0.00447, 4.24, 98.8, 0....",0
4,ENSG00000004059,ENST00000000233,368,AGGACAA,"[[0.015, 6.97, 118.0, 0.0106, 3.04, 123.0, 0.0...",0
...,...,...,...,...,...,...
121833,ENSG00000167747,ENST00000641834,1348,GGGACAT,"[[0.0112, 2.96, 116.0, 0.0093, 3.24, 115.0, 0....",1
121834,ENSG00000167747,ENST00000641834,1429,CTGACAC,"[[0.00697, 4.25, 112.0, 0.00481, 8.67, 119.0, ...",0
121835,ENSG00000167747,ENST00000641834,1531,TGGACAC,"[[0.00996, 3.12, 112.0, 0.00432, 4.5, 115.0, 0...",1
121836,ENSG00000167747,ENST00000641834,1537,CTGACCA,"[[0.00396, 3.14, 108.0, 0.00747, 5.79, 125.0, ...",0
121837,ENSG00000167747,ENST00000641834,1693,TTGACAT,"[[0.0215, 5.59, 104.0, 0.00996, 5.8, 118.0, 0....",0

In [17]:
def calculate_average(values):
    arr = np.array(values)
    return arr.mean(axis=0).tolist()
# Function to convert string representation of list of lists to actual float lists
def convert_to_float(value):
        # Evaluate the string as a list
        value = eval(value)
        # Convert all elements to float
        return [[float(elem) for elem in inner] for inner in value]

In [18]:
temp = new_df.head()
temp

,gene_id,transcript_id,transcript_position,Key,Values,label
0,ENSG00000004059,ENST00000000233,244,AAGACCA,"[[0.00299, 2.06, 125.0, 0.0177, 10.4, 122.0, 0...",0
1,ENSG00000004059,ENST00000000233,261,CAAACTG,"[[0.0126, 1.95, 111.0, 0.0125, 1.27, 108.0, 0....",0
2,ENSG00000004059,ENST00000000233,316,GAAACAG,"[[0.00432, 2.02, 104.0, 0.00299, 3.56, 99.3, 0...",0
3,ENSG00000004059,ENST00000000233,332,AGAACAT,"[[0.0134, 4.71, 132.0, 0.00447, 4.24, 98.8, 0....",0
4,ENSG00000004059,ENST00000000233,368,AGGACAA,"[[0.015, 6.97, 118.0, 0.0106, 3.04, 123.0, 0.0...",0

In [19]:
temp['Values'] = temp['Values'].apply(convert_to_float)

C:\Users\lakbo\AppData\Local\Temp\ipykernel_46124\807756448.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Values'] = temp['Values'].apply(convert_to_float)

In [20]:
temp['Values'] = temp['Values'].apply(calculate_average)

C:\Users\lakbo\AppData\Local\Temp\ipykernel_46124\2101215827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Values'] = temp['Values'].apply(calculate_average)

In [21]:
temp

,gene_id,transcript_id,transcript_position,Key,Values,label
0,ENSG00000004059,ENST00000000233,244,AAGACCA,"[0.008264378378378385, 4.223783783783786, 123....",0
1,ENSG00000004059,ENST00000000233,261,CAAACTG,"[0.006609244186046515, 3.2164244186046504, 109...",0
2,ENSG00000004059,ENST00000000233,316,GAAACAG,"[0.0075699999999999995, 2.94054054054054, 105....",0
3,ENSG00000004059,ENST00000000233,332,AGAACAT,"[0.010620250000000005, 6.4763499999999965, 129...",0
4,ENSG00000004059,ENST00000000233,368,AGGACAA,"[0.010700505050505058, 6.415050505050505, 117....",0

In [22]:
#convert from str to float
new_df['Values'] = new_df['Values'].apply(convert_to_float)
#get the avg
new_df['Values'] = new_df['Values'].apply(calculate_average)

In [23]:
new_df

,gene_id,transcript_id,transcript_position,Key,Values,label
0,ENSG00000004059,ENST00000000233,244,AAGACCA,"[0.008264378378378385, 4.223783783783786, 123....",0
1,ENSG00000004059,ENST00000000233,261,CAAACTG,"[0.006609244186046515, 3.2164244186046504, 109...",0
2,ENSG00000004059,ENST00000000233,316,GAAACAG,"[0.0075699999999999995, 2.94054054054054, 105....",0
3,ENSG00000004059,ENST00000000233,332,AGAACAT,"[0.010620250000000005, 6.4763499999999965, 129...",0
4,ENSG00000004059,ENST00000000233,368,AGGACAA,"[0.010700505050505058, 6.415050505050505, 117....",0
...,...,...,...,...,...,...
121833,ENSG00000167747,ENST00000641834,1348,GGGACAT,"[0.009593835616438357, 3.294164383561644, 118....",1
121834,ENSG00000167747,ENST00000641834,1429,CTGACAC,"[0.0083927536231884, 4.511014492753626, 110.96...",0
121835,ENSG00000167747,ENST00000641834,1531,TGGACAC,"[0.008160624999999996, 3.9184375, 113.96875, 0...",1
121836,ENSG00000167747,ENST00000641834,1537,CTGACCA,"[0.008043859649122805, 3.191228070175438, 109....",0
121837,ENSG00000167747,ENST00000641834,1693,TTGACAT,"[0.008788461538461535, 4.090576923076924, 105....",0

In [24]:
values_expanded = new_df['Values'].apply(pd.Series)
values_expanded.columns = [f'Value_{i+1}' for i in range(values_expanded.shape[1])]
clean_df = pd.concat([new_df, values_expanded], axis=1)

In [25]:
clean_df.drop(columns=['Values'], inplace=True)

In [26]:
clean_df

,gene_id,transcript_id,transcript_position,Key,label,Value_1,Value_2,Value_3,Value_4,Value_5,Value_6,Value_7,Value_8,Value_9
0,ENSG00000004059,ENST00000000233,244,AAGACCA,0,0.008264,4.223784,123.702703,0.009373,7.382162,125.913514,0.007345,4.386989,80.570270
1,ENSG00000004059,ENST00000000233,261,CAAACTG,0,0.006609,3.216424,109.681395,0.006813,3.226535,107.889535,0.007710,3.016599,94.290698
2,ENSG00000004059,ENST00000000233,316,GAAACAG,0,0.007570,2.940541,105.475676,0.007416,3.642703,98.947027,0.007555,2.087146,89.364324
3,ENSG00000004059,ENST00000000233,332,AGAACAT,0,0.010620,6.476350,129.355000,0.008632,2.899200,97.836500,0.006102,2.236520,89.154000
4,ENSG00000004059,ENST00000000233,368,AGGACAA,0,0.010701,6.415051,117.924242,0.011479,5.870303,121.954545,0.010019,4.260253,85.178788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121833,ENSG00000167747,ENST00000641834,1348,GGGACAT,1,0.009594,3.294164,118.232877,0.007300,4.929726,116.342466,0.006555,4.005616,82.004110
121834,ENSG00000167747,ENST00000641834,1429,CTGACAC,0,0.008393,4.511014,110.969565,0.010305,9.105797,114.927536,0.005568,3.644638,80.497101
121835,ENSG00000167747,ENST00000641834,1531,TGGACAC,1,0.008161,3.918438,113.968750,0.006877,4.759687,113.562500,0.006410,2.181562,84.190625
121836,ENSG00000167747,ENST00000641834,1537,CTGACCA,0,0.008044,3.191228,109.354386,0.007419,6.552982,123.263158,0.006472,2.540877,82.289474
121837,ENSG00000167747,ENST00000641834,1693,TTGACAT,0,0.008788,4.090577,105.807692,0.006907,8.702885,113.134615,0.008337,2.576731,78.536538

In [27]:
#check for null values
clean_df.isnull().sum()

gene_id                0
transcript_id          0
transcript_position    0
Key                    0
label                  0
Value_1                0
Value_2                0
Value_3                0
Value_4                0
Value_5                0
Value_6                0
Value_7                0
Value_8                0
Value_9                0
dtype: int64

In [28]:
#number of labels
print(clean_df['label'].value_counts())

label
0    116363
1      5475
Name: count, dtype: int64

In [29]:
# Shuffle the entire dataset
clean_df = clean_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [32]:
label_encoder = LabelEncoder()
clean_df['transcript_id_encoded'] = label_encoder.fit_transform(clean_df['transcript_id'])
clean_df['Key_encoded'] = label_encoder.fit_transform(clean_df['Key'])
clean_df['gene_id_encoded'] = label_encoder.fit_transform(clean_df['gene_id'])

In [33]:
clean_df = clean_df.drop(columns='label').join(clean_df['label'])

In [ ]:
#convert to csv
clean_df.to_csv('../Data/processed_data.csv', index=False)

In [34]:
X = clean_df.drop(columns=['label'])
y = clean_df['label']

In [35]:
clean_df

,gene_id,transcript_id,transcript_position,Key,Value_1,Value_2,Value_3,Value_4,Value_5,Value_6,Value_7,Value_8,Value_9,transcript_id_encoded,Key_encoded,gene_id_encoded,label
0,ENSG00000169045,ENST00000514332,579,CAAACAA,0.007098,2.389750,104.571429,0.006643,2.526429,98.371429,0.005408,2.419286,89.453571,4374,72,2833,0
1,ENSG00000136891,ENST00000374902,2482,CTGACAG,0.007560,3.764643,106.964286,0.005346,8.643929,113.821429,0.007909,2.611071,80.214286,2968,134,1861,0
2,ENSG00000101057,ENST00000217026,1738,CAGACCC,0.009036,8.260000,108.836538,0.011480,5.427885,128.096154,0.005846,3.924615,79.675000,151,89,632,0
3,ENSG00000109332,ENST00000394803,1321,AGAACAG,0.008855,7.054000,128.133333,0.008535,5.120667,95.853333,0.006006,3.055000,88.960000,3364,26,953,0
4,ENSG00000128283,ENST00000249014,598,GGGACAC,0.009415,4.048154,117.128205,0.009710,7.149872,117.666667,0.007828,3.196282,82.721795,474,181,1534,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121833,ENSG00000170421,ENST00000552551,1370,GGAACAT,0.007304,8.752857,119.823954,0.008027,3.603102,97.095815,0.006014,2.908407,87.478066,4698,171,2887,0
121834,ENSG00000006125,ENST00000621914,5135,GAAACAA,0.009418,3.244868,104.998684,0.007654,3.598947,98.059211,0.005389,3.381447,85.511842,5244,144,31,0
121835,ENSG00000174695,ENST00000511450,415,TTAACTC,0.007323,1.770944,93.327778,0.006851,1.988611,98.191667,0.007017,1.543528,92.108333,4358,273,3018,0
121836,ENSG00000072849,ENST00000158771,1013,GAAACAA,0.011057,3.060000,105.620000,0.006312,2.690667,97.173333,0.006495,2.360167,89.703333,38,144,295,0
121837,ENSG00000136718,ENST00000259239,1619,GGAACTC,0.007047,5.980833,123.125000,0.007263,2.828333,100.691667,0.007356,2.615708,93.181250,645,177,1849,1

In [28]:
''' Actual sets downloaded from s3 storage
data = pd.read_csv('../Data/processed_data.csv')

# Features (X) and labels (y)
X = data.drop(columns=['label'])
y = data['label']
groups = data['gene_id']  # Use gene_id as groups

# Create GroupShuffleSplit instance
gss = GroupShuffleSplit(n_splits=1, train_size=0.7, test_size=0.3, random_state=42)

# Split into train and temporary sets (70% train, 30% temp)
for train_idx, temp_idx in gss.split(X, y, groups):
    X_train, X_temp = X.iloc[train_idx], X.iloc[temp_idx]
    y_train, y_temp = y.iloc[train_idx], y.iloc[temp_idx]
    groups_temp = groups.iloc[temp_idx]

# Further split the temporary set into validation and test sets (50% val, 50% test)
gss_val_test = GroupShuffleSplit(n_splits=1, train_size=0.5, test_size=0.5, random_state=42)

for val_idx, test_idx in gss_val_test.split(X_temp, y_temp, groups_temp):
    X_val, X_test = X_temp.iloc[val_idx], X_temp.iloc[test_idx]
    y_val, y_test = y_temp.iloc[val_idx], y_temp.iloc[test_idx]

# Combine features and labels back for exporting
train_data = pd.concat([X_train, y_train], axis=1)
val_data = pd.concat([X_val, y_val], axis=1)
test_data = pd.concat([X_test, y_test], axis=1)

# Save to CSV
train_data.to_csv('../Data/train_data.csv', index=False)
val_data.to_csv('../Data/val_data.csv', index=False)
test_data.to_csv('../Data/test_data.csv', index=False)
'''